---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font: "proxima-nova";
$base-font-family: $base-font, serif;

$alt-font: "proxima-nova";
$alt-font-family: $alt-font, $base-font, Georgia, serif;

$base-font-size:   1em;

$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     40px;

$text-color:       rgb(0,0,0);
$background-color: rgba(255,255,255,0);
$brand-color:      rgb(60,60,60);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "fonts",
        "layout"
;