---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font: "Georgia Pro Cond Light";
$base-font-family: $base-font, Georgia, serif;
$brand-font-family: $base-font-family;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     40px;

$text-color:       #111;
$background-color: #fffff;
$brand-color:      rgb(60,60,60);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;


@mixin font-face($style-name, $url, $style, $weight) {
    $filepath: "fonts/" + $url;
    @font-face {
        font-family: "#{$style-name}";
        src: local("#{$style-name}"), 
        url("#{$filepath}") format("woff");
        font-style: $style;
        font-weight: $weight;
    }
}

@include font-face($base-font, "17d15e27-baf1-4431-a7d2-a73c7e2e649c", "normal", "normal");
@include font-face($base-font, "17b1d595-e535-4042-8ef5-fb5273c9440a", "italic", "normal");


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;