
h1,
h2,
h3,
h4,
h5,
h6, 
body {
    font-family: $alt-font-family;
    font-weight: 300;
}

/**
 * Site header
 */


 .fullWidth {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     max-width: initial;
 }

 .site-logo {
    margin: 20px 0;
    width: 256px;
    @media only screen and (max-width: 767px) {
        width: 180px;
    }
}

.site-header {
    box-shadow: rgba(0,0,0,.07) 0px 1px 1px 0px;
}


/**
 * Site footer
 */

 .site-footer {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

.footer-image {
    width:50px;
    margin-bottom:5px;
}
.footer-text {
    font-size:14px;
    display:block;
    color:rgb(150,150,150);
    font-weight: 300;
}




/**
 * Page content
 */

 .page-content {
    padding: ($spacing-unit/1.2) 0;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > article {
        padding: 30px;
        margin-bottom: $spacing-unit;
        box-shadow: rgba(0,0,0,.1) 0px 1px 1px 0px;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    font-style: italic;
}

.post-link {
    font-family: $base-font-family;
    font-style: normal;
    display: block;
    font-size: 36px;
    color: black;
    letter-spacing: -1px;
    font-weight: 100;
}

.post-summary {
    font-family: $alt-font-family;
    font-style: normal;
    font-size: 1.2em;
    @media only screen and (max-width: 767px) {
        font-size: 1em;
    }
    line-height: $base-line-height;
    font-weight: 300;
}


/**
 * Posts
 */

 .single-post {

    > article {
        padding: 30px;
        box-shadow: rgba(0,0,0,.1) 0px 1px 1px 0px;
    }
}


.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-family: $base-font-family;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;
    font-style: normal;
    font-weight: 100;


}

.post-content {
    margin-bottom: $spacing-unit;

    p {
        font-size: 1em;
        font-style: normal;
        line-height: $base-line-height;
        font-weight: 300;
    }
}
